#menu {
    background-color: #333; /* color de fondo */
    position: relative;
  }
  
  #menu ul {
    list-style-type: none; /* quitar los puntos de la lista */
    margin: 0; /* quitar los márgenes */
    padding: 0; /* quitar los rellenos */
    overflow: hidden; /* ocultar los elementos que se salen */
    text-align: center; /* alinear el texto al centro */
  }
  
  #menu li {
    display: inline-block; /* mostrar los elementos en línea */
  }
  
  #menu a {
    display: block; /* mostrar los enlaces como bloques */
    color: white; /* color del texto */
    text-align: center; /* alinear el texto al centro */
    padding: 14px 16px; /* relleno de arriba y abajo */
    text-decoration: none; /* quitar la decoración de los enlaces */
  }
  
  #menu a:hover {
    background-color: #111; /* color de fondo al pasar el ratón por encima */
  }
  body{
    
    background-color: rgb(31, 111, 230);
  }
  #texto{
    text-align: center;
    position: relative;
    color: aliceblue;
    list-style-type: none;
    
  }
  li {
    list-style: none;
  }
  ul {
    list-style: none;
  }
  h1 {
    margin-top: 6%;
    margin-bottom: 6%;
    font-size: 150%;
}
  #img{
    /*background-color: rgb(233, 120, 97);*/
    position: absolute;
    overflow: hidden; /* ocultar los elementos que se salen */
    height:100%;
    width: 100%;
    right: 0px;
}

